h6 {
    margin: 0;
}

hr {
    margin: 0;
}

p {
    margin: 0;
    font-size: 12px;
}

.userResume {
    width: clamp(596px, 596px, 40vw);
    height: 50vh;
    box-shadow: var(--box-shadow);
    padding: 3rem;
}

.userHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gradDate, .GPA, .employmentDates {
    float: right;
}

.userName, .userInfo {
    text-align: center;
}